<ion-header>
  <ion-toolbar color="primary" >
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Announcments</ion-title>    
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-list class="md list-md hydrated">
    
    <ion-item *ngFor="let i of jsonItems"  >
      <!-- <ion-avatar slot="start" class="md hydrated">
        <img src="./avatar.svg">
      </ion-avatar> -->
      <ion-label style="border:0;" routerLink="/announcementdetails/{{ i.announce_id }}" routerDirection="forward" >
        <h3 [innerHTML]="i.announce_title"></h3>
        <p [innerHTML]="i.created_at | date:'d MMM yyyy hh:mm a' " ></p>
      </ion-label>
    </ion-item>
  </ion-list>

  
  <div *ngIf="noRecord" class="h-100 row align-items-center">
    <div class="col text-center text-danger">
      No Data
    </div>
  </div>
</ion-content>
