<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content>

  <div class="text-center ion-padding">
    <h4><b>Login Now!</b></h4>
  </div>

  <form [formGroup]="validations_form" (ngSubmit)="onSubmit(validations_form.value)">
    <ion-card>
      <ion-card-content>
        <ion-item>
          <ion-label position="floating" color="success">Email ID
          </ion-label>
          <ion-input type="text" formControlName="email"></ion-input>
        </ion-item>
        <div class="validation-errors">
          <ng-container *ngFor="let validation of validation_messages.email">
            <div class="error-message"
              *ngIf="validations_form.get('email').hasError(validation.type) && (validations_form.get('email').dirty || validations_form.get('email').touched)">
              <ion-icon name="information-circle-outline"></ion-icon> {{ validation.message }}
            </div>
          </ng-container>
        </div>

        <ion-item>
          <ion-label position="floating" color="success">Password</ion-label>
          <ion-input formControlName="password" [type]="showPassword ? 'password' : 'text'" clearOnEdit="false">
          </ion-input>
          <ion-icon slot="end" class="ion-padding-top" (click)="onPasswordToggle()" ion-button clear small icon-only
            [name]="showPassword ? 'eye-off' : 'eye'"></ion-icon>
        </ion-item>

        <div class="validation-errors">
          <ng-container *ngFor="let validation of validation_messages.password">
            <div class="error-message"
              *ngIf="validations_form.get('password').hasError(validation.type) && (validations_form.get('password').dirty || validations_form.get('password').touched)">
              <ion-icon name="information-circle-outline"></ion-icon> {{ validation.message }}
            </div>
          </ng-container>
        </div>

        <div text-center class="ion-padding">
          <button type="submit" [disabled]="!validations_form.valid" class="btn btn-danger btn-round">Login</button>
        </div>

        <div text-center>
          <ion-text color="primary" routerLink="/forgotpwd" routerDirection="forward">Forgot Password </ion-text>
        </div>
      </ion-card-content>
    </ion-card>
  </form>

  <div text-center class="ion-padding">
    <span>New To 25Bol ? </span>
    <ion-text color="primary" routerLink="/register" routerDirection="forward">Signup Now</ion-text>
  </div>

</ion-content>