// .footer {
//     position: fixed;
//     left: 0;
//     bottom: 0;
//     height: 15%;
//     width: 100%;
//     background-color: white;
//     text-align: center;
//  }

 .header{
    left: 0;
    bottom: 0;
    height: 85%;
    width: 100%;
    background-color: #A71E16;
    color:white;
    text-align: center;
 }
 