<ion-app>
  <ion-split-pane contentId="main-content">
    <ion-menu contentId="main-content" type="overlay">
      <div class="container">      
        <div class="bottomleft">{{userName}}</div>
        <div class="bottomright">Version 1.0</div>
      </div>
      <ion-content>
        <ion-list lines="full">
          <ion-menu-toggle auto-hide="false" class="first-level">
            <ion-item [routerDirection]="'root'" [routerLink]="'/dashboard'" (click)="clearLevel()">
              <i slot="start" class="fa fa-home fa-1x"></i>
              <ion-label>Dashboard</ion-label>
            </ion-item>
          </ion-menu-toggle>
        </ion-list>

        <!-- Start dynamic Sidemenu -->
        
        <ion-item lines="full" [routerDirection]="'root'" (click)="toggleLevel1('idx'+1)"
          [ngClass]="{active: isLevel1Shown('idx'+1)}">
          <ion-label>
            <ion-icon [name]="isLevel1Shown('idx'+1) ? 'arrow-dropdown-circle' : 'arrow-dropright-circle'" slot="end">
            </ion-icon>
            <span style="padding-left:10%">25Bol</span>
            <ul *ngIf="isLevel1Shown('idx'+1)" class="level1">
              <li *ngFor="let i1 of appPages; let j=index;" (click)="toggleLevel2('idx'+1+'idx'+j)"
                [ngClass]="{active: isLevel2Shown('idx'+i+'idx'+j)}">
        
                <ion-menu-toggle auto-hide="false" class="first-level">
                  <ion-item lines="none" [routerDirection]="'root'"
                    routerLink="/categorydetails/{{i1.category_id}}/{{i1.category_name}}" (click)="clearLevel()">
                    <ion-label> {{i1.category_name}}</ion-label>
                  </ion-item>
                </ion-menu-toggle>
        
              </li>
            </ul>
          </ion-label>
        </ion-item>

        <!-- End dynamic Sidemenu -->

        <ion-list lines="full">
          <ion-menu-toggle auto-hide="false" *ngFor="let p of staticMenu">
            <ion-item-divider [routerDirection]="'root'" routerLink="/{{p.url}}/{{p.pageMode}}" style="outline: none;"  >
              <i slot="start" [class]="p.icon" ></i>
              <ion-label >
                {{p.title}}
              </ion-label>
            </ion-item-divider>
          </ion-menu-toggle>
        </ion-list>

 
      </ion-content>
    </ion-menu>
    <ion-router-outlet id="main-content"></ion-router-outlet>
  </ion-split-pane>
</ion-app> 