<ion-app>
  <ion-split-pane contentId="main-content">
    <ion-menu contentId="main-content" type="overlay">
      <div class="container">      
        <div class="bottomleft">Suresh Kumar</div>
        <div class="bottomright">Version 1.0</div>
      </div>
      <ion-content>
        <ion-list lines="none">
          <ion-menu-toggle auto-hide="false" *ngFor="let p of appPages">
            <ion-item-divider [routerDirection]="'root'" [routerLink]="[p.url]"  >
              <i slot="start" [class]="p.icon" ></i>
              <ion-label class="ion-padding-left" >
                {{p.title}}
              </ion-label>
            </ion-item-divider>
          </ion-menu-toggle>
        </ion-list>
      </ion-content>
    </ion-menu>
    <ion-router-outlet id="main-content"></ion-router-outlet>
  </ion-split-pane>
</ion-app>
