<ion-content>
  <div class="customImg">
    <img src="../../assets/dashboard.jpg" class="imgResposive" >
    <div class="topright" (click)="logoutFn()" >
      <div class="col-12 text-center">
        <i class="fa fa-sign-out fa-2x" ></i>
      </div>
      <div class="col-12">
        Logout
      </div>
    </div>
    
  </div>
  

    <div class="ion-padding container-fluid">
      <div class="row">
        <div class="col-6">
          <div class="card card-5"></div>
        </div>
        <div class="col-6 float-right" >
          <div class="card card-5"></div>
        </div>
      </div>
    </div>


</ion-content>
