<ion-header>
  <ion-toolbar color="primary" >
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      {{categoryName}}
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content fullscreen>
  <div class="customImg">
    <img src="../../assets/dashboard.jpg" class="imgResposive">
    <img src="../../assets/fundamental.jpeg" class="imgResposive">
  </div>

  <div class="ion-padding" >
    <div [innerHTML]="content" ></div>
  </div>

  <ion-list>
    <!-- <ion-list-header>
        Recent Conversations
      </ion-list-header> -->
  
    <ion-item *ngFor="let c of categoryListJson" routerLink="/categorydetails/{{c.category_id}}/{{c.category_name}}"
      routerDirection="forward">
      <ion-avatar slot="start">
        <img src="{{config.assetsURL}}/{{c.image}}">
      </ion-avatar>
      <ion-label>
        <h2 [innerHTML]="c.category_name"></h2>
      </ion-label>
    </ion-item>
  </ion-list>

  <!-- <div text-center >
    <ion-button (click)="logoutFn()" >Logout</ion-button>
  </div> -->
  

   
</ion-content>
